{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Blog{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'blog_list' %}">Home</a></li>
                <li><a href="{% url 'blog_create' %}">Create Blog Post</a></li>
            </ul>
        </nav>
        <a href="{% url 'home' %}">Back to Home</a>

    </header>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <p>&copy; 2024 BlogApp</p>
    </footer>
</body>
</html>
